.userMainDiv {
  display: flex;
}

.navitems {
  font-family: montserrat;
}

.navitems:hover {
  border: 2px outset black;
  background-color: #d9d9e0;
}

.navitems button {
  padding: 6px 20px;
  border: 2px inset black;
}

.customnavdropdown .dropdown-menu {
  margin-top: 3px;
}

.searchDropdownMenu {
  width: 300px;
  background-color: #EEEEEE;
}

.searchInput::placeholder {
  font-family: Montserrat, sans-serif;
}

.signout{
    width: 100%;
    background-color: #00ADB5;
}

.signout:hover{
    color: black;
    border: 2px solid black;
    background-color: #d9d9e0;
}