.maindiv{
    padding-top: 5%;
    padding-left: 5%;
    background-color: #EEEEEE;
    padding-bottom: 2%;
}
.subdiv1{
    width: 40%;
    margin-bottom: 20px;
}
.subdiv1 h1{
    font-size: 43px;
    color:#505E86
}
.subdiv1 p{
    font-size: 22px;
    font-weight: 300;
    color: #505E86;
}
.subdiv1 Button{
    width: 362px;
    background-color: #00ADB5;
    border: black;
}
.subdiv2{
    padding-left: 20%;
}

.subdiv2.hovered {
    /* Styles for the image container during hover */
    transform: scale(1.1); /* Increase the scale of the image */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
  }

