.header {
    color: white;
    font-size: 44px;
    font-family: montserrat;
  }
  
  .main {
    padding: 5%;
    font-family: montserrat;
    color: #FFF;
  }
  
  .cards{
    background-color: #EEEEEE;
  }
  
  