.dashboardContent {
    position: relative; /* This keeps the particles and FirstDiv together */
    width: 100%;
    height: 90vh;
  }

.footerPartition {
    position: relative;
    /* Example background color for the other partition */
  }