.maindiv{
    background-color: rgb(228, 231, 232);
    width: 100%;    
    min-height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subdiv{
    padding: 100px 100px 100px 100px;
    box-shadow: 10px 10px rgb(202, 204, 205);
    background-color: white;
    border-radius: 10px;

}

.imageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.imageDiv{
    border: 2px solid lightgray;
    border-radius: 50%;
    margin-bottom: 20px;
}

.editButton{
    color: black;
    padding: 5px 20px 5px 20px;
    border: 2px solid lightgray;
    margin-bottom: 100px;
    text-decoration: none;
}   

.editButton:hover{
    border: 2px outset black;
    background-color: #d9d9e0;
}   

.subContainer1{
    text-align: center;
}

.subContainer2{
    margin-top: 20px;
    margin-bottom: 10px;
}